body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    background-color: #F1F1F1;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 782px)
body {
    min-width: 240px;
    overflow-x: hidden;
}

@media screen and (max-width: 782px)
body * {
    -webkit-tap-highlight-color: transparent!important;
}

a, div {
    outline: 0;
}

/* change bootstrap */
.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

/* */
#owwrap {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: absolute;
    -webkit-font-smoothing: subpixel-antialiased;
}

#owcontent, #owfooter {
    margin-left: 160px;
}

#owcontent {
    height: 100%;
    padding-left: 20px;
}

@media screen and (max-width: 782px)
.auto-fold #owcontent {
    position: relative;
    margin-left: 0;
    padding-left: 10px;
}

@media screen and (max-width: 782px)
#owcontent {
    position: relative;
    margin-left: 0;
    padding-left: 10px;
}

@media screen and (max-width: 782px)
#comments-form .checkforspam, #owfooter {
    display: none;
}

@media only screen and (max-width: 960px)
.auto-fold #owcontent, .auto-fold #owfooter {
    margin-left: 36px;
}

/**********************
 *   Admin Bar
 **********************/

#opadminbar,
#opadminbar .dropdown-menu {
    background-color: #222;
    border: 0;
}

#opadminbar .dropdown-menu .divider {
    background-color: #555;
}

#opadminbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    min-height: 32px;
}

#opadminbar .navbar-toggle {
    padding: 2px 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #888;
    border-color: #888;
}

#opadminbar .navbar-brand {
    height: auto;
    padding: 7px 7px;
}

#opadminbar a {
    display: block;
    text-decoration:none;
    line-height: 18px;
    padding: 7px 7px;
    color: #ccc;
}

#opadminbar a:focus, #adminmenu a:focus {
    background-color: #000;
}

#adminmenu li a:hover, #opadminbar li a:hover {
    background-color: #111;
    background-image: none;
    color: #07a;
}

#adminmenu .badge, #opadminbar .badge {
    background-color: #d52;
}

/**********************
 *   Admin Menu
 **********************/

#adminmenuback {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#adminmenu {
    position: fixed;
    z-index: 100;
}

#adminmenu, #adminmenu .ow-submenu, #adminmenuback, #adminmenuwrap {
    width: 160px;
    background-color: #222;
    border: 0;
    border-radius: 0;
}

#adminmenu .ow-submenu-head, #adminmenu a.menu-top {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
}

#adminmenu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#adminmenu a {
    display: block;
    text-decoration:none;
    line-height: 18px;
    padding: 2px 5px;
    color: #ccc;
}


#adminmenu div.ow-menu-icon, #adminmenu .collapse-button {
    float: left;
    width: 36px;
    height: 34px;
    margin: 0;
    text-align: center;
}

#adminmenu div.ow-menu-name, #adminmenu div.ow-menu-icon span {
    padding: 8px 0;
}

ul#adminmenu .current a.menu-top:after, ul#adminmenu>li.current>a.current:after {
    right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f1f1f1;
    top: 0;
    margin-top: 8px;
}

#adminmenu .current .menu-top {
    background-color: #07a;
}

#adminmenu .ow-submenu {
	background-color: #444;
}

#adminmenu .ow-submenu li a:hover {
    background-color: #444;
}

#adminmenu .ow-submenu .current {
    background-color: #555;
}

#adminmenu .ow-submenu .current > a {
	font-weight: 800;
	color: #eee;
}

#adminmenu .ow-submenu li > a{
    padding: 6px 12px;
}

#adminmenu .ow-submenu .ow-submenu-head {
	display: none;
}

.menuicons, .menuicons-before:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown-hover .dropdown-menu li:hover .submenu {
    visibility:visible
}
.dropdown-hover .dropdown:hover .dropdown-menu {
    display:block
}
.dropdown-hover .dropdown:hover .dropdown-menu-left,
.dropdown-hover .dropdown .dropdown-menu-left {
    left: 100%;
    top: 0;
}

@media screen and (max-width: 782px)
.auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
    display: none;
}

@media screen and (max-width: 782px)
.auto-fold #adminmenu, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
    position: absolute;
    width: 190px;
    z-index: 100;
}

@media only screen and (max-width: 960px)
.auto-fold #adminmenu, .auto-fold #adminmenu li.menu-top, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
    width: 36px;
}


/**********************
 *   Page
 **********************/

.page-header {
    padding-bottom: 2px;
    margin: 6px 0 0;
}

#page-meta-links {
    margin: 0 20px 0 0;
}

#page-meta-links .page-meta-toggle {
    position: relative;
    top: 0;

    float: right;
    height: 28px;
    margin: 0 0 0 6px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
}

#collapseGroup .well {
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    background-image:none!important;
}

#owcontent table {
background-color: #fff;
}

#owcontent table thead {
background-color: #ccc;
}

.owalert {
position: absolute;
top: 0px;
opacity: 0.9;
padding: 5px 35px 5px 12px;
font-size: 12px;
}

.owalert .close {
font-size: 18px;
top: 0;
}

/**********************
 *   upload file
 **********************/

.upload-file-mask{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 1000;
}
.upload-file .close{
    cursor: pointer;
    font-size: 14px;
}

.upload-file{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -105px;
    margin-left: -150px;
    max-width: 300px;
    z-index: 1001;
    display: none;
}

/**********************
 *   other
 **********************/

 .form-group .help-block {
    margin-top: 0px;
    margin-bottom: 0px;
 }