body {
	font-family: Verdana, Geneva, sans-serif;
    background: #59b;
    color: #fff;
}

h2 {
	margin: 6px 2px;
}

input::-webkit-input-placeholder {
    color: #aaa !important; /* WebKit browsers */
}
input:-moz-placeholder {
    color: #aaa !important; 
}
input::-moz-placeholder {
    color: #aaa !important; 
}
input:-ms-input-placeholder {
    color: #aaa !important;
}

a {
	color: #fff;
}

#title {
	text-align: center;
	position: absolute;
	top:50%; 
	margin-top:-240px;
	width:100%;
	word-break:break-all;
}

#footer {
	color: #ccc;
	font-size: 10px;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0px;
}

#info {
	text-align: center;
	margin-top: 100px;
}

#info .tm {
	margin: 20px;
}

#info button {
    background: #46a;
    width: 200px;
    color: #fff;
    border-radius: 3px;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
}

#login {
	width: 340px;
	position: absolute;
	top:50%; 
	left:50%;
	margin:-160px -170px;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	background: #eee;
	font-weight:bold;
	padding: 30px 2px;
	color: #333;
	z-index: 1;
}

#login .title {
	text-align: center;
	border-bottom: 1px solid #999;
	margin: 10px 6px;
}

#login .pure-control-group {
	text-align: center;
}

#login form {
	padding: 2px 32px;
}

#login label {
	text-align: left;
}

#login input {
	color: #000;
	width: 100%;
}

#login button {
    background: #46a;
    width: 60%;
    border-radius: 3px;
    color: #fff;
}

#login input.wrong {
  border-color: #c00;
  background-color: #fee;
}

#login .btn {
	margin-top: 20px;
	text-align: center;
}

.hide {
	display: none;
}